<html>
    <% include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="text-center">All Events</h1>
            </div>
            <p style="display: none;" id="curr_la"></p>
            <p style="display: none;" id="curr_lo"></p>
            <div align='center' class="row display-flex text-center">
                <% events.forEach(function(details){ %>
                <div class="col-md-3" style="border:1px solid rgb(3, 8, 83); padding: 7px;">
                    <h3 class="text-center"><%= details.name %></h3>
                    <p class="text-jusified"><%= details.Description %></p><br />
                    <p class="text-center"><b>From - </b><% var t = details.event_from.toLocaleDateString() %><%= t %> , <% var t = details.event_from.toLocaleTimeString() %><%= t %></p>
                    <p class="text-center"><b>To - </b> <% var t = details.event_to.toLocaleDateString() %><%= t %> , <% var t = details.event_to.toLocaleTimeString() %><%= t %></p>
                    <p class="text-center"><b>Candidate Limit</b> - <%= details.candidate_limit %></p>
                    <p class="text-jusified"><b>Address - </b><%= details.local_addr %>, <%= details.city %>, <%= details.state %></p>
                    <p class="text-center"><b>Coordinator Name - </b><%= details.cname %></p>
                    <p class="text-center"><b>Coordinator Phone - </b><%= details.cphone %></p>
                    <div align='center' class="button-group">
                            <button event_id='<%= details.id %>' vol_id='<%= vol_id %>' class="apply text-center btn btn-primary">Apply</button>                        
                        <% if(details.coords!="" && details.coords!=null){ %>
                            <button data-toggle="modal" data-target="#myModal" ltlg='<%= details.coords %>' class="mapbtn text-center btn btn-info">Location Map</button>
                        <% }else{ %>
                            <button type="button" class="btn btn-danger disabled">Map not available</button>
                        <%} %>
                    </div>
                </div>
                <%}); %>
                
            </div><br>
            <br>
            <br>
            <div class="row">
                <h1 class="text-center">Applied Events</h1>
            </div>
            <div align='center' class="row display-flex text-center">
                <% applied_events.forEach(function(details){ %>
                    <div class="col-md-3" style="border:1px solid rgb(3, 8, 83); padding: 7px;">
                        <h3 class="text-center"><%= details.ename %></h3>
                        <p class="text-jusified"><%= details.Description %></p><br />
                        <p class="text-center"><b>From - </b><% var t = details.event_from.toLocaleDateString() %><%= t %> , <% var t = details.event_from.toLocaleTimeString() %><%= t %></p>
                        <p class="text-center"><b>To - </b> <% var t = details.event_to.toLocaleDateString() %><%= t %> , <% var t = details.event_to.toLocaleTimeString() %><%= t %></p>
                        <p class="text-center"><b>Candidate Limit</b> - <%= details.candidate_limit %></p>
                        <p class="text-jusified"><b>Address - </b><%= details.local_addr %>, <%= details.city %>, <%= details.state %></p>
                        <p class="text-center"><b>Coordinator Name - </b><%= details.cname %></p>
                        <p class="text-center"><b>Coordinator Phone - </b><%= details.phone %></p>
                        <p class="text-jusified"><b>Status - </b>
                        <% if(details.can_sta=="Approved"){ %>
                            <span style="font-weight: bolder;" class="text-success">Approved</span>
                        <% }else if(details.can_sta=="Not Approved"){ %>
                            <span style="font-weight: bolder;" class="text-danger">Rejected</span>
                        <% }else if(details.can_sta=="Waitlisted"){ %>
                            <span style="font-weight: bolder;" class="text-warning">Waitlisted</span>
                        <% }else if(details.can_sta=="Applied"){ %>
                            <span style="font-weight: bolder;" class="text-primary">Waiting for approval</span>
                        <% }%>
                        </p>
                    </div>
                <%}); %>
            </div><br><br>
            <div class="row">
                <h1 class="text-center">Upload event images</h1>
            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <% if(pics.length>0){ %>
                    <form action="/imageupload" method="POST" enctype="multipart/form-data">
                        <input type="hidden" value="<%= vol_id %>" class="form-control" name="volid"/>
                        <div class="form-group">
                            <label for="eid">Select event</label>
                            <select required="required" type="text" class="form-control" name="eid" id="eid">
                                <% 
                                    pics.forEach(function(details){
                                %>
                                         <option value="<%= details.event_id %>"><%= details.event_name %> - <%= details.city %>, <%= details.state %></option>
                                <%
                                    });
                                %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filetoupload">Select File</label>
                            <input required="required" type="file" class="form-control" name="filetoupload" id="filetoupload">
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
                    </form>
                    <% }else{ %>
                        <h2  class="text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">No events available for you to upload pics.</h2>
                    <%} %>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Event Location
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div id="map" class="img-responsive" style="width: 550px; height: 350px;"></div>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <script>
            var curr_long;
            var curr_lat;
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else { 
                    document.write("geolocation not supported");
                }
            }

            function showPosition(position) {
                curr_lat = position.coords.latitude; 
                curr_long=position.coords.longitude;
                $('#curr_la').html(curr_lat);
                $('#curr_lo').html(curr_long);
            }
            getLocation();
            function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) 
            {
                console.log(pointA,pointB);
                directionsService.route({
                    origin: pointA,
                    destination: pointB,
                    travelMode: google.maps.TravelMode.DRIVING
                }, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
            $('.mapbtn').on('click',function()
            {
                
                var ltlg = $(this).attr('ltlg');
                var a = ltlg.split(',');
                var uluru = {lat: parseFloat(a[0]), lng: parseFloat(a[1])};
                console.log(uluru);
                var curr_lati = $('#curr_la').html();
                var curr_longi = $('#curr_lo').html();
                console.log(curr_lati);
                console.log(curr_longi);
                var marker = new google.maps.Marker({position: uluru, map: map});
                    var pointA = new google.maps.LatLng(curr_lati, curr_longi);
                    var pointB = new google.maps.LatLng(parseFloat(a[0]), parseFloat(a[1]));
                    var myOptions = {
                        zoom: 7,
                        center: pointA
                    };
                    var map = new google.maps.Map(document.getElementById('map'), myOptions);
                    var directionsService = new google.maps.DirectionsService;
                    var directionsDisplay = new google.maps.DirectionsRenderer({
                        map: map
                    });
                    var markerA = new google.maps.Marker({
                        position: pointA,
                        title: "point A",
                        map: map
                    });
                    var markerB = new google.maps.Marker({
                        position: pointB,
                        title: "point B",
                        map: map
                    });
                    var trafficLayer = new google.maps.TrafficLayer();
                    trafficLayer.setMap(map);

                    calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
            });
        </script>
        <script>
            $(document).ready(function()
            {
                $('.apply').unbind().click(function()
                {
                    var eventid = $(this).attr('event_id');
                    var vol_id = $(this).attr('vol_id');
                    $.ajax({
                        type : 'POST',
                        url : '/applyforevent',
                        data : {
                            event : eventid,
                            volid : vol_id
                        },
                        success : function(data)
                        {
                            if(data=='Error')
                            {
                                alert("Cannot Apply for this event. Try again later!!");
                            }
                            else{
                                alert("Applied Successfully");
                                window.location.reload();
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>